# Git global ignore file
# for local exclude patterns please edit .git/info/exclude
# Example file see https://github.com/TYPO3-Documentation/T3DocTeam/blob/master/.gitignore

# ignore generated documentation
*GENERATED*

# ignore typical clutter of IDEs and editors (this could be added in .git/info/exclude,
#  but we add it here for convenience)
*~
*.bak
*.idea
*.project
*.swp
.project
.webprj
nbproject
*.sublime-project
*.sublime-workspace

*.iml
.php_cs.cache
.idea/
.Build/
public/
vendor/
composer.lock
**/.phpunit.result.cache
