parameters:
  parallel:
      # Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
      maximumNumberOfProcesses: 5

  level: 1

  bootstrapFiles:
    - .Build/vendor/autoload.php
    - .Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php

  paths:
    - Classes

  scanDirectories:
    - Classes