<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:format.raw>
        <f:format.json value="{
                action: form.renderingOptions.controllerAction,
                method: form.renderingOptions.httpMethod,
                enctype: form.renderingOptions.httpEnctype,
                addQueryString: form.renderingOptions.addQueryString,
                argumentsToBeExcludedFromQueryString: form.renderingOptions.argumentsToBeExcludedFromQueryString,
                additionalParams: form.renderingOptions.additionalParams
		}"/>
    </f:format.raw>
</f:spaceless>
</html>
