<div class="form-group col-sm-12">
    <strong>
        <f:translate key="{data.translationFile}{key}"/>
    </strong>
    <f:if condition="{menu}">
        <f:then>
            <select class="form-control" data-global-event="change" data-action-navigate="$value">
                <f:for each="{menu}" as="item">
                    <f:form.select.option selected="{item.active}" value="{item.href}">
                        {item.title}
                    </f:form.select.option>
                </f:for>
            </select>
        </f:then>
        <f:else>
            <select class="form-control" disabled></select>
        </f:else>
    </f:if>
</div>
