{namespace be = TYPO3\CMS\Backend\ViewHelpers}

<f:layout name="Default"/>

<f:section name="headline">
    <f:if condition="{page}">
        <div class="container">
            <div class="page-title col-xs-12">
                <h1>
                    <be:link.editRecord uid="{page.id}" table="pages">{page.title}</be:link.editRecord>
                    <span class="t3-icon fa fa-pencil"></span>
                </h1>
            </div>
        </div>
    </f:if>

</f:section>

<f:section name="content">
    <f:if condition="{error}">
        <f:then>
            <div>
                <h1><f:translate key="{translationFile}error_header"/></h1>
                <span>{error}</span>
            </div>
        </f:then>
        <f:else>
            <f:render partial="Settings" arguments="{_all}"/>
            <f:render partial="Tabs" arguments="{_all}"/>
        </f:else>
    </f:if>
</f:section>
