<div class="control-buttons col-xs-12 col-sm-12">
    <div>
        <strong>
            <f:translate key="{translationFile}tabs.json_output"/>
        </strong>
    </div>
    <div>
        <f:for each="{tabs}" as="tabName">
            <f:variable name="buttonClass"
                        value="{f:if(condition: '{rawTabName} === {tabName}', then: 'btn-warning', else: 'btn-success')}"/>
            <a href='#' class="btn {buttonClass} {f:if(condition: '{tabName} === {contentTabName}', then: 'active')}"
               data-tab="{tabName}">{tabName -> f:format.case(mode:'capitalWords')}</a>
        </f:for>
    </div>
</div>

<f:for each="{data}" as="typeContents" key="type">
    <div id="tab-{type}" class="tab tab-{type} {f:if(condition: '{type} === {contentTabName}', then: 'active')}">
        <f:if condition="{typeContents}">
            <f:then>
                <f:if condition="{type} === {contentTabName}">
                    <f:then>
                        <div class="col-sm-12 content-buttons">
                            <a class="btn btn-success mass-expand-ce">
                                <f:translate key="{translationFile}option.mass_expand"/>
                            </a>
                            <a class="btn btn-success mass-hide-ce hidden">
                                <f:translate key="{translationFile}option.mass_hide"/>
                            </a>
                        </div>
                        <f:for each="{typeContents}" as="colContents" key="colName">
                            <div class="col-sm-12">
                                <h2 id="column-{colName}">{columns.{colName}} [{colName}]</h2>
                                <f:for each="{colContents}" as="content">
                                    <div id="{content.sectionId}"
                                         class="ce-block {f:if(condition: '{content.hidden} == 1', then: 'ce-hidden')}">
                                        <div class="col-control">
                                            <div class="btn-group" role="group">
                                                <be:link.editRecord class="btn btn-default" table="tt_content"
                                                                    uid="{content.uid}"
                                                                    title="{f:translate(key:'edit')}">
                                                    <core:icon identifier="actions-open"/>
                                                </be:link.editRecord>

                                                <f:if condition="{content.hidden} == 1">
                                                    <f:then>
                                                        <a class="btn btn-default"
                                                           href="{be:moduleLink(route:'tce_db', query:'data[tt_content][{content.uid}][hidden]=0', currentUrlParameterName:'redirect')}"
                                                           title="{f:translate(key:'visibility.unhide')}">
                                                            <core:icon identifier="actions-edit-unhide"/>
                                                        </a>
                                                    </f:then>
                                                    <f:else>
                                                        <a class="btn btn-default"
                                                           href="{be:moduleLink(route:'tce_db', query:'data[tt_content][{content.uid}][hidden]=1', currentUrlParameterName:'redirect')}"
                                                           title="{f:translate(key:'visibility.hide')}">
                                                            <core:icon identifier="actions-edit-hide"/>
                                                        </a>
                                                    </f:else>
                                                </f:if>
                                                <a class="btn btn-default expand"
                                                   href="#"
                                                   title="{f:translate(key:'visibility.hide')}">
                                                    <core:icon identifier="actions-move-down"/>
                                                </a>

                                                <a class="btn btn-default retract"
                                                   href="#"
                                                   title="{f:translate(key:'visibility.hide')}">
                                                    <core:icon identifier="actions-move-up"/>
                                                </a>
                                            </div>
                                            <span class="ce-title">
                                                <be:link.editRecord table="tt_content" uid="{content.uid}"
                                                                    title="{f:translate(key:'edit')}">
                                                    <strong>[{content.uid}]</strong> {content.title} <i>({content.CType})</i>
                                                </be:link.editRecord>
                                            </span>
                                        </div>
                                        <f:render partial="JsonCodeBlockElement" arguments="{data: content.data}"/>
                                    </div>
                                </f:for>
                            </div>
                        </f:for>
                    </f:then>
                    <f:else>
                        <div class="row">
                            <div class="col-sm-10">
                                <f:render partial="JsonCodeBlockElement" arguments="{data: typeContents}"/>
                            </div>
                        </div>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <div class="row">
                    <div class="col-sm-10">
                        <f:translate key="{translationFile}tab.is_empty"
                                     arguments="{0: '{type -> f:format.case(mode:\'capitalWords\')}'}"/>
                    </div>
                </div>
            </f:else>
        </f:if>
    </div>
</f:for>
