<f:spaceless>
    <f:format.raw>
        <f:format.json value="{
            message: {
                header: '{f:translate(key:\'change_password_header\')}',
                message: '{f:translate(key:\'change_password_message\', arguments:\'{0: settings.newPasswordMinLength}\')}'
            },
            errors: '{f:render(partial: \'ValidationErrors\', arguments: \'{_all}\') -> headless:format.json.decode()}',
            backToLogin: {
                url: '{f:uri.action(action:\'login\', controller:\'Login\')}',
                text: '{f:translate(key:\'forgot_header_backToLogin\')}'
            },
            form: {
                title: '{f:translate(key:\'change_password\')}',
                action: '{f:uri.action(action:\'changePassword\')}',
                method: 'POST',
                fields: '{f:render(section: \'fields\', arguments: \'{_all}\') -> headless:format.json.decode()}'
            },
            flashMessages: '{f:render(partial: \'FlashMessages\', arguments: \'{_all}\') -> headless:format.json.decode()}'
        }"/>
    </f:format.raw>
</f:spaceless>
<f:section name="fields">
    <f:spaceless>
        <f:format.raw>
            [
            <f:format.json value="{
                    type: 'text',
                    label: '{f:translate(key:\'input.username.newPass\', extensionName:\'headless\')}',
                    name: 'newPass',
                    namespace: 'tx_felogin_login',
                    validate: {
                        required: 1,
                        password: 1
                    },
                    options: {
                        attr: {
                            placeholder: '{f:translate(key:\'input.username.newPass.placeholder\', extensionName:\'headless\')}'
                        }
                    }
                }"
            />,
            <f:format.json value="{
                    type: 'text',
                    label: '{f:translate(key:\'input.username.newPassRepeat\', extensionName:\'headless\')}',
                    name: 'newPassRepeat',
                    namespace: 'tx_felogin_login',
                    validate: {
                        required: 1,
                        password: 1,
                        sameAs: 'newPass'
                    },
                    options: {
                        attr: {
                            placeholder: '{f:translate(key:\'input.username.newPassRepeat.placeholder\', extensionName:\'headless\')}'
                        }
                    }
                }"
            />,
            <f:format.json value="{
                    type: 'hidden',
                    name: 'hash',
                    value: '{hash}'
                }"
           />,
            <f:format.json value="{
                    type: 'submit',
                    name: 'submit',
                    value: '{f:translate(key:\'input.submit.newPass\', extensionName:\'headless\')}'
                    }"
            />
            ]
        </f:format.raw>
    </f:spaceless>

</f:section>
