---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '15 3 * * 1'
jobs:
  php-lint:
    name: "PHP linter"
    runs-on: ubuntu-20.04
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: none
          tools: composer:v2
      - name: "Run PHP lint"
        run: "composer ci:php:lint"
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - 7.4
          - 8.0
  code-quality:
    name: "Code quality checks"
    runs-on: ubuntu-20.04
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: none
          tools: composer:v2
      - name: "Show Composer version"
        run: composer --version
      - name: "Cache dependencies installed with composer"
        uses: actions/cache@v1
        with:
          key: "php${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}"
          path: ~/.cache/composer
          restore-keys: "php${{ matrix.php-version }}-composer-\n"
      - name: "Install Composer dependencies"
        run: "composer install --no-progress"
      - name: "Run command"
        run: "composer ci:${{ matrix.command }}"
    strategy:
      fail-fast: false
      matrix:
        command:
          - "json:lint"
          - "yaml:lint"
          - "ts:lint"
          - "php:cs-fixer"
        php-version:
          - 7.4
  tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        php-versions: [7.4, 8.0]
        typo3-versions:
          - {typo3: 11, testing: 6}

    name: "Run tests with PHP ${{ matrix.php-versions }}
          using TYPO3 ${{ matrix.typo3-versions.typo3 }}
          with testing framework version ${{ matrix.typo3-versions.testing }}"
    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: intl, mbstring, pdo_sqlite

      - name: "Cache composer dependencies"
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: php-${{ matrix.php-versions }}
               -typo3-${{ matrix.typo3-versions.typo3 }}
               -testing-${{ matrix.typo3-versions.testing }}
               -composer-${{ hashFiles('composer.json') }}
          restore-keys: |
            php-${{ matrix.php-versions }}
            -typo3-${{ matrix.typo3-versions.typo3 }}
            -testing-${{ matrix.typo3-versions.testing }}composer-
            php-${{ matrix.php-versions }}-typo3-

      - name: "Install composer dependencies"
        run: composer require typo3/minimal
             "^${{ matrix.typo3-versions.typo3 }}"
             typo3/testing-framework "^${{ matrix.typo3-versions.testing }}"
             --prefer-dist --no-progress --no-suggest

      - name: "Run Unit tests"
        run: composer ci:test:unit

      - name: "Functional tests"
        run: composer ci:test:functional
